body {
    background-color: #f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
  }
  
  h1 {
    color: #003366;
    text-align: center;
  }
  
  .about {
    background-color: #e6f7ff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .skills {
    background-color: #fff0f5;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .projects {
    background-color: #f5fff0;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .contact {
    background-color: #ffffe0;
    padding: 10px;
    margin-bottom: 20px;
  }